.cabecalho {
    box-sizing: border-box;
    text-align: center;
    font-size: 90px;
    background-color: blue;
    color: white;
}

h1 {
    text-align: center;
    background-color: gray;
    color: black;
    font-size: 90px;
    padding: 50px;
}

nav {
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    background-color: darkgrey;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

#divTabela {
    display: flex;
    justify-content: center;
    background-color: green;
}

#tabelaDemonstracao {
    display: flex;
    justify-content: center;
    background-color: rgb(1, 243, 1);
}

.tituloExercicio2 {
    text-align: center;
    font-size: 30px;
    text-decoration: dashed;
}

#formulario {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#select {
    display: flex;
    justify-content: center;
    background-color: rgb(3, 55, 212);
    padding: 30px;
}

#imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: darkgray;
}

.formularioAula {
    color: purple;
    font-size: 20px;
    background-color: aqua;
    display: block;
    text-align: right;
}

.tituloExercicio3 {
    text-align: center;
    font-size: 30px;
    text-decoration: dashed;
}

.tituloExercicio3 :hover {
    font-size: 80px;
}

#boasPraticas {
    font-size: 20px;
    display: block;
    text-align: left;
    text-decoration: black;
    color: #548920;
}